@using MVC_eCommerce.Models.Home;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC eCommerce</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MyMainLayOut.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-9">
                <div class="logo">
                    <h1><a href="~/Home/Index">MVC <span title="to main page">eCommerce</span> </a></h1>
                    <p>Online Shop emulator</p>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1 text-right">
                @Html.Action("OrderPartial", "Order")
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1 text-right">
                @Html.Action("CartPartial", "Cart")
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1 text-right">
                <div class="log" style="padding-top: 30px; padding-right: 16px">
                    <a title="for admin" href="~/Account/Login"> <i class="fa fa-sign-in fa-lg"></i></a>
                </div>
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-12 copyright">
                    <div class="col-md-6 col-sm-6 copyright-left">
                        <p>&copy; @DateTime.Now.Year - MVC_OnlineStore. All right reserved.</p>
                    </div>
                    <div class="col-md-6 col-sm-6 copyright-right">
                        <ul class="list-unsteled list-social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>



