
@model List<MVC_eCommerce.DAL.Tbl_Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
<div class="container-fluid px-4">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="../Admin/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">Categories</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Category Details
            <a href="../Admin/AddCategory" class="btn btn-info pull-right text-white"><i class="fa fa-plus"></i>Add New</a>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Sr.No.</th>
                        <th>Category Name</th>
                        <th>Is Delete</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Sr.No.</th>
                        <th>Category Name</th>
                        <th>Is Delete</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(Model.IndexOf(item)+1)</td>
                            <td>@item.CategoryName</td>
                            <td>@item.IsDelete</td>
                            <td>
                                @Html.ActionLink("Edit", "CategoryEdit", new { categoryId = item.Id })
                            </td>
                        </tr>
                    }

                <tbody>
            </table>
            <div class="col">
                @Html.ActionLink("Cansel", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>




